/* 가운데 정렬을 위한 코드이니 되도록 건들지 않는 것을 추천합니다. */
body {
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 이 아래부터는 필요에 따라 삭제, 변경해도 됩니다 */

.section {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.section > .left_button {
  flex: 1;
}

.section > .carousel__main {
  flex: 8;

  text-align: center;
}

.section > .right_button {
  flex: 1;
}
