/* 가운데 정렬을 위한 코드이니 되도록 건들지 않는 것을 추천합니다. */
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 이 아래부터는 필요에 따라 삭제, 변경해도 됩니다 */

.title {
  color: blue;
}

.section {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.section > .left_button {
  flex: 2;
}

.section > .carousel__image {
  width: 1300px;
  height: 500px;
  position: relative;
}

.section > .right_button {
  flex: 2;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 14px;
  height: 14px;

  margin: 0px 6px;

  border: 1px solid black;
  border-radius: 100%;
  /* background-color: red; */
  cursor: pointer;
}

.active {
  background-color: blue;
  border: none;
}
