/* 가운데 정렬을 위한 코드이니 되도록 건들지 않는 것을 추천합니다. */
body {
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 이 아래부터는 필요에 따라 삭제, 변경해도 됩니다 */
.title {
  color: blue;
}

.section {
  width: 480px;
  height: 100px;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-wrap {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: skyblue;
  transition: transform 0.5s ease-in-out;
}

.image {
  width: 400px;
  height: 60px;
  background-color: white;
  margin: 15px auto auto;
  color: skyblue;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

button {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  color: skyblue;
  font-size: 8px;
  font-weight: 600;
  position: absolute;
  top: 40%;
}

.dot-carousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 39%;
  width: 25%;
}

.dot {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: white;
}
